/*utility formatting*/
body {
    margin: 0;
    overflow-x:hidden;
}
p {
    margin: 0;
    font-family: helvetica;
}

a {
    margin: 0;
    font-family: helvetica;
}
/*header formatting*/
#header {
    width: 100vw;
    height: 6vw;
    background-color: white;
    position: relative;
    border-bottom: solid 0.1vw lightgray;
}
#logo {
    height: 3vw;
    margin-top: 1.5vw;
    margin-left: 7.5vw;
    position: absolute;
}
#title {
    font-size: 1.75vw;
    margin-top: 2.125vw;
    margin-left: 10vw;
    position: absolute;
}
#newproject {
    color: white;
    width: 7.5vw;
    height: 3.75vw;
    font-size: 1vw;
    background-color: orangered;
    border: none;
    border-radius: 0.5vw;
    display: inline;
    text-align: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 30.5vw;
    cursor: pointer
}
#logout {
    color: black;
    font-size: 1.25vw;
    background-color: white;
    border: none;
    display: inline;
    text-align: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 85vw;
    cursor: pointer;
}

/*sidebar formatting*/
#leftside {
    background-color: RGB(50,50,50);
    width: 20vw;
    height: 50vw;
    display: inline-block;
    position: absolute;
}
.leftnavi {
    display: block;
    color: white;
    text-decoration: none;
    font-size: 1.25vw;
}
#courses {
    display: block;
    color: white;
    text-decoration: none;
    font-size: 1.25vw;
}
.highlightable {
    font-size: 1.25vw;
    width: 100%;
    padding-top: 1vw;
    padding-bottom: 1vw;
}
.highlightable:hover {
    background-color: RGB(75,75,75);
}
/*projects formatting*/

/*modAl*/
#modalbackground {
    display: none;
    z-index: 2;
    position: fixed;
    background-color: rgba(0,0,0,0.4);
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
}
#modal {
    position: fixed;
    z-index: 999999;
    width: 35vw;
    height: 40vw;
    margin-left: 32.5vw;
    margin-top: 5vw;
    border-radius: 1vw;
    background-color: white;
}
#closemodal {
    background: none;
    border: none;
    margin-top: 0.5vw;
    margin-left: 32.5vw;
    cursor: pointer;
}
#newprojecttitle {
    padding-top: 0vw;
    font-size: 2vw;
    margin-bottom: 4vw;
}
#projtitle {
    display: inline-block;
    border: 0.1vw solid darkgray;
    height: 3vw;
    margin-bottom: 3vw;
    width:18vw;
}
#subjectchoose {
    font-size: 1.5vw;
    display: inline-block;
}
#subject {
    display: inline-block;
    border: 0.1vw solid darkgray;
    height: 3vw;
    margin-bottom: 3vw;
    width:18vw;
}
#projdesc {
    display: inline-block;
    border: 0.1vw solid darkgray;
    height: 8vw;
    margin-bottom: 0vw;
    width:18vw;
    resize: none;
    font-family: helvetica;
}
#submitbutton {
    color: white;
    background-color: orangered;
    width: 12.5vw;
    height: 3vw;
    font-size: 1vw;
    border: none;
    border-radius: 1.5vw;
    display: inline;
    text-align: center;
    cursor: pointer;
    margin-top: 2.5vw;
}