body {
    margin: 0;
    overflow-x: none;
}
p {
    font-family: helvetica;
}
#background {
    background-color: rgb(245,245,245);
    width: 100vw;
    height: 70vw;
}
#mainsquare {
    width: 35vw;
    height: 45vw;
    background-color: white;
    z-index: 2;
    border-radius: 2vw;
    margin-left: 32.5vw;
    margin-top: 10vw;
    position: absolute;
}
#picture {
    width: 1.75vw;
    height: auto;
    margin-top: 5vw;
}
#title {
    font-size: 2vw;
}

.textbox {
    display: inline-block;
    border: 0.1vw solid darkgray;
    height: 3vw;
    margin-bottom: 4vw;
    width:18vw;
    padding-left:1vw;
}

#signup {
    border: none;
    padding-left: 3.5vw;
    padding-right: 3.5vw;
    padding-top: 1vw;
    padding-bottom: 1vw;
    border-radius: 50vw;
    background-color: orangered;
    color: white;
    -webkit-transition: color 0.2s;
}

#signup:hover, #signup:active {
    background-color: #ff5b1f;
    color: rgba(255, 255, 255, 0.82);
}

placeholder{
    padding-left:1vw;
}